/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Você pode adicionar estilos globais aqui, se quiser */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; /* Ou sua fonte preferida */
  background-color: #1a202c; /* Fundo escuro padrão */
}